/*

!/.gitignore
!/pom.xml
!/code-formatter/
!/data-jpa-base-generator-annotations/
!/data-jpa-base-generator-interpreter/
!/data-jpa-generator-base-entities/
!/data-jpa-generator-base-service/
!/data-jpa-generator-base-modules/
!/README.md

.DS_Store
.vscode
.metals
.project
.settings
