/*

!/.gitignore
!/pom.xml
!/autoconfiguration-spring-boot/
!/configurations-spring-boot-module/
!/dictionaries-spring-boot-module/
!/domain-spring-boot/
!/environments-spring-boot-module/
!/tableinit-spring-boot/
